$baseColor: #314451;
@define-mixin transition $range: all, $time: 0.4s, $ease: cubic-bezier(0.25, 0.8, 0.25, 1) {
    transition: $range $time $ease;
}

body {
    background-color: #D8DDE3;
    background-image: linear-gradient(0deg,#f5f6f7 0%,#D8DDE3 88%);
    transition: all 500ms ease;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: $baseColor;
    font-size: 14px;
}

#app {
    min-height: 100vh;
}

.form-wrapper {
    width: 700px;
    margin: auto;
    margin-top: 120px;
    text-align: center;
    .form-group {
        margin: 20px auto;
        width: 580px;
    }
    .form-control {
        background-color: #f7f7fA;
        height: 53px;
        border-radius: 3px;
        border: none;
        font-size: 16px;
        @mixin transition;
        &:focus {
            box-shadow: 5px 12px 20px rgba(36,37,38,0.13);
        }
    }
}

.button {
    padding: 10px 15px;
    border-radius: 3px;
    transition: all .4s cubic-bezier(.25,.8,.25,1);
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.button-purple {
    cursor: pointer;
    border: 0;
    background-color: #b066fe;
    color: #fff;
    min-width: 180px;
    width: auto;
    height: 44px;
    font-size: 18px;
    border-radius: 3px;
    &:hover {
        background-color: #964de2;
    }
}

.button-gradient-blue {
        cursor: pointer;
        border: 0;
        background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC 51%, #02AAB0 100%);
        /* background-image: linear-gradient(45deg, #f24645, #ebc08d); */
        color: #fff;
        min-width: 180px;
        width: auto;
        height: 44px;
        font-size: 18px;
        &:hover {
            background-position: right center;
        }
    }